*CMakeLists.txt.user
*CMakeLists.txt.user.*
*.pro.user
.branch
.hash
.long_hash
.revision
.version
.configuration
build_ver.h
tdoa2/matlab/JsonTestData/
*.m~
*CMakeLists.txt.user.*
*.vs/
CMakeSettings.json
*out/
*.csv
*.autosave
build
.vscode
build_debug
110A_7_2k.bin
110A_8k.bin
110A_7200.iqf
110A_txt.iqf
noise.bin
cpu/ippcore.dll
cpu/ipps.dll
cpu/ippse9.dll
cpu/ippsl9.dll
cpu/ippsm7.dll
cpu/ippsn8.dll
cpu/ippsy8.dll
cpu/libfftw3-3.dll
cpu/libfftw3f-3.dll
cpu/swVeresk.dll
gpu/CorrelationDetectorGPU.dll
